# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/

# Logs
logs/
*.log
npm-debug.log*

# Coverage
coverage/

# Misc
*.tsbuildinfo
